#ariel {
    max-width: 250px;
    max-height: 250px;
}

.appIcon {
    max-width: 150px;
    max-height: 150px;
    border-radius: 25%;
    margin-bottom: 1em;
}

#appStore {
    max-width: 200px;
    max-height: 200px;
}

footer {
    margin-top: 1em;
}
